

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Accounting</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        /* Custom CSS for the Logout button */
        .btn-logout {
            background-color: red; /* Change to your desired color */
            color: white; /* Text color */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<nav class="navbar navbar-light" style="background-color: #7e90bd;">

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <span class="mr-2"><!-- Add margin to the right of the icon --></span>
        Accounting Management System</a>
    <div class="ml-auto">
        <form th:action="@{/logout}" th:method="post">
            <input type="submit" value="Logout" class="btn btn-logout"/>
        </form>
    </div>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}" style="color: yellow;">Rechnungen</a>
                <a class="nav-link" th:href="@{/orders}" style="color: yellow;">Bestellungen</a>
                <a class="nav-link" th:href="@{/debitoren}" style="color: yellow;">Debitoren</a>



            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Filter Rechnungen</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="myInput">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>




</nav>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
<!--            <div class="card-header">-->
<!--            <h4>List of Employees-->
<!--                <a th:href="@{/addNewEmployee}" class="btn btn-success  float-end ">Add Employee</a>-->
<!--            </h4>-->
<!--            </div>-->
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4>Rechnungen</h4>
                    <a th:href="@{/addNewInvoice}" class="btn btn-success">Neue Rechnung</a>
                </div>
        <div class="card-body">
            <div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-primary">
        <tr>
            <th>Firma</th>
            <th>Rechnungs Nr.</th>
            <th>Rechnungs datum</th>
            <th>Frist</th>
            <th>Bestell datum</th>
            <th>Gesamt Preis</th>
            <th>Rechnungsart</th>
            <th>Alpha Nr</th>
            <th>Konto</th>
            <th>Rechnung Betrag</th>
            <th>Bezahlt</th>
            <th>Kommentare</th>
            <th>Aktionen</th>
        </tr>
        </thead>

        <tbody id="myTable">
        <tr th:each="invoices:${allInv}">
            <td th:text="${invoices.firma}"></td>
            <td th:text="${invoices.rechnungsNummer}"></td>
            <td th:text="${#dates.format(invoices.rechnungsDatum, 'dd-MM-yyyy')}"></td>
            <td th:text="${invoices.frist}"></td>
            <td th:text="${#dates.format(invoices.bestellDatum, 'dd-MM-yyyy')}"></td>
            <td th:text="${invoices.gesamtPreisLautBestellung}"></td>
            <td th:text="${invoices.rechnungsart}"></td>
            <td th:text="${invoices.alphaNr}"></td>
            <td th:text="${invoices.konto}"></td>
            <td th:text="${invoices.rechnungBetrag}"></td>
            <td th:text="${invoices.bezahlt}"></td>
            <td th:text="${invoices.kommentare}"></td>
            <td>
                <a th:href="@{/updateInfo(empId=${invoices.id})}" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></a>
                <a th:href="@{/updateInfo(empId=${invoices.id})}" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i></a>
                <a th:href="@{/invoice/{id}(id=${invoices.id})}" class="btn btn-danger btn-sm"
                onclick="return confirm('Are you sure you want to delete this record')"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
            </div>
    </div>
</div>
</div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                var rowText = $(this).text().toLowerCase();
                $(this).toggle(rowText.indexOf(value) > -1 || rowText.indexOf(' ' + value) > -1);
            });
        });
    });
</script>

</body>
</html>
